body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFF;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

h1, h2, h3, p {
    margin: 0;
}
img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}
.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Header */
.header-section {
    border-bottom: 1px solid var(--cornflower, #E7E9FC);
    padding: 0 15px;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-section .container {
    display: flex;
    align-items: center;
}
.menu-nav {
    display: flex;
    align-items: center
}
.menu-list {
    display: flex;
    column-gap: 40px;
}


.header-logo {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 76px; 
}
.header-accent {
    color: #2E2F42;
}
.header-link {
    display: block;
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    text-decoration: none;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link-studio {
    color: #404bbf;
    display: block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link-studio::after {
    display: block;
    width: 48px;
    height: 4px;
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    border-radius: 2px;
}
.header-link:hover {
    color: #404bbf;
}
.header-link:focus {
    color: #404bbf;
}
.contacts {
    font-style: normal;
    margin-left: auto;
}
.contacts-list {
    display: flex;
    gap: 40px;
    align-items: center;
    flex-direction: row;
}

.contacts-link {
    display: block;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link:hover {
    color: #404bbf;
}
.contacts-link:focus {
    color: #404bbf;
}


/* Main */

/* Button */
.hero-section {
    background-color: #2E2F42;
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.70),
        rgba(46, 47, 66, 0.70)
    ),
    url('../images/hero/hero-background.jpg');
    background-size: cover;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
    background-repeat: no-repeat;
    background-position: center;
    }
.hero-title {
    color: #FFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    text-align: center;
    margin-bottom: 48px;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
}

.hero-button {
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
    background-color: #4D5AE5;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 16px 32px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover {
    background-color: #404BBF;
}

.hero-button:focus {
    background-color: #404BBF;
}

/* Our benefits */
.benefit-section {
    padding: 120px 0;
}
.benefit-section .container {
    display: block;
    align-items: center;
}
.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid var(--LIGHT-SLATE, #8E8F99);
    background: var(--CLOUD, #F4F4FD);
    margin-bottom: 8px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.benefit-title {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
}
.benefit-list {
    display: flex;
    column-gap: 24px;

}
.benefit-item {
    flex-basis: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}
.benefit-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

/* Our team */
.team-section {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}
.team-section .container {
    display: block;
    align-items: center;
}
.team-title {
    color: #2e2f42;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.team-list {
    display: flex;
    column-gap: 24px;
}
.team-item {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 72px) / 4);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-container {
    padding: 32px 0;
}
.person-title {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    text-align: center;
    margin-bottom: 8px;
}

.person-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    text-align: center;
}
.social-list-team {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 8px;
}
.social-list-team-item {
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-team-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #4d5ae5;
    fill: #f4f4fd;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-team-link:hover,
.social-team-link:focus {
background-color: #404bbf;  
}


/* Our Portfolio */
.portfolio-section {
    padding: 120px 0;
}
.portfolio-section .container {
    display: block;
    align-items: center;
    
 }
.portfolio-title {
    color: #2e2f42;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
 }
 .portfolio-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .portfolio-item:hover {
    transform: translateY(0%);
 }
 .portfolio-list-wrapper {
    position: relative;
    overflow: hidden;
 }
 .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--IRIS, #4D5AE5);
    color: var(--CLOUD, #F4F4FD);
    line-height: 1.5;
    letter-spacing: 0.32px;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .portfolio-item:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
 }
.projects-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.projects-title {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}
.portfolio-item:hover .overlay {
    transform: translateY(0%);
}

/* Footer */
.footer-section {
    background-color: #2E2F42;
    padding: 100px 0;
}

.footer-logo {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 16px;
    display: inline-block;
}
.footer-accent {
    color: #F4F4FD;
}

.footer-text {
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    width: 264px;
}

.footer-section .container {
    display: flex;
    align-items: baseline
}
.logo-footer-container {
    margin-right: 120px
}
.main-social-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.main-social-list {
    display: flex;
    gap: 16px;
}
.main-social-item {
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-social-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-social-link:hover,
.main-social-link:focus {
    background-color: #31d0aa;
}
.main-social-icon {
    fill: #f4f4fd;
}
.footer-subscribe-container {
    margin-left: 80px;
}
.subscribe-text {
    color: var(--WHITE, #FFF);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}
.subscribe-form{
    display: flex;
    gap: 24px;
}
.subscribe-form-input { 
    width: 264px;
    height: 40px;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    border: 1px solid var(--WHITE, #FFF);
    color: #ffffff;

}
.subscribe-form-input::placeholder {
    color: #ffffff;
}
.subscribe-button {
    color: #FFFFFF;
    background-color: #4D5AE5;
    border: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 8px 24px;
    display: flex;
    min-width: 165px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-button-icon {
    margin-left: 16px;
}
.subscribe-button:hover,
.subscribe-button:focus {
    background-color: #404BBF;
    border: none;
}

/* BACKDROP */
.backdrop {
    position: fixed;
    z-index: 999999999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

/* BACKDROP */

/* MODAL WINDOW */
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
    border-radius: 4px;
    background: var(--DAIRY, #FCFCFC);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #E7E9FC;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:hover,
.close-btn:focus {
    background-color: #404bbf;
    fill: #ffffff;
    border: none;
}
.close-button-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-description {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin: 0 auto 16px auto;
}
.review-field-form-label {
    display: block;
    color: var(--LIGHT-SLATE, #8E8F99);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
}
.review-form-field-input {
    margin-bottom: 8px;
}
.review-form-input-wrapper {
    position: relative;
}
.review-form-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    padding-left: 38px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-input:focus {
    border-color: #4D5AE5;
    outline: transparent;
}
.review-form-field-icon {
    position: absolute;
    fill: #2E2F42;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-input:focus + .review-form-field-icon {
    fill: #4D5AE5;
}
.review-form-field-wrapper {
    margin-bottom: 16px
}
.review-form-textarea {
    display: block;
    color: rgba(46, 47, 66, 0.4);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    padding: 8px 16px;
    resize: none;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-textarea:focus {
    border-color: #4D5AE5;
    outline: transparent;
}
.review-form-textarea::placeholder {
    color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
}

.review-form-field-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-checkbox-label {
    color: var(--LIGHT-SLATE, #8E8F99);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    width: 360px;
}
.review-form-checkbox-wrapper {
    margin-bottom: 24px;
}
.checkbox-privacy {
    display: inline-flex;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
}

input:checked + label > span {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}
.link-privacy {
    color: var(--IRIS, #4D5AE5);
}
.send-button {
    color: #FFFFFF;
    background-color: #4D5AE5;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 16px 32px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}   
.send-button:hover {
    background-color: #404BBF;
}
/* MODAL WINDOW */